<div class="row">
  <div class="col-lg-12">
    <div id="my_map" style='height: 600px;'></div>
  </div>
</div>

<div class="" style="position:absolute; top: 10px; left: 10px; width: 50px;">
  <div class="panel panel-default bg-gray-darker b-a-0">
    <div class="panel-body">
      <a href="/welcome" class="text-gray-lighter">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </a>

    </div>
  </div>
</div>

<div class="" style="position:absolute; top: 10px; right: 20px; width: 200px;">
  <div class="row  pull-right">
    <div class="col-lg-12">
      <div class="btn-group m-b-1" data-toggle="buttons" style="width: 100%">
        <label class="btn btn-sm btn-primary btn-outline">
          <input type="checkbox" id='checkbox_community'>
          家宽用户
        </label>
        <label class="btn btn-sm btn-primary btn-outline">
          <input type="checkbox" id='checkbox_occ'>
          光交箱
        </label>
        <label class="btn btn-sm btn-primary btn-outline">
          <input type="checkbox" id='checkbox_station'>
          基站
        </label>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group select2-bootstrap-append input-group-sm">
        <select id="multi-append" class="form-control select2 select2-input">
          <option value="-1">全部小区</option>
        </select>
      </div>
    </div>

  </div>


</div>

<div class="col-lg-2" style="position:absolute; top: 10px; left: 40px;">
  <div class="panel panel-default bg-gray-darker b-a-0">
    <div class="panel-body">

      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p class="m-b-0 m-t-0 text-gray-lighter"><%= @msg[:district_name_cn] %>家宽业务总数</p>
          <h1 class="f-w-300 m-t-0 text-warning"><%= @msg[:data1] %>
            户</h1>
        </div>

        <div class="col-lg-12 col-md-3 col-sm-3 col-xs-6">
          <p class="m-b-0 m-t-0 text-gray-lighter">2017年新增用户</p>
          <h1 class="f-w-300 m-t-0 text-info"><%= @msg[:data2] %>
            户</h1>
        </div>

        <div class="col-lg-12 col-md-3 col-sm-3 col-xs-6">
          <p class="m-b-0 m-t-0 text-gray-lighter">2017年平均装机时间</p>
          <h1 class="f-w-300 m-t-0 text-success"><%= @msg[:data3] %>
            小时</h1>
        </div>

        <div class="col-lg-12 col-md-3 col-sm-3 col-xs-6">
          <p class="m-b-0 m-t-0 text-gray-lighter">2017年装机及时率</p>
          <h1 class="f-w-300 m-t-0 text-primary"><%= @msg[:data4] %>
            %</h1>
        </div>

        <div class="col-lg-12 col-md-3 col-sm-3 col-xs-6">
          <p class="m-b-0 m-t-0 text-gray-lighter">2017年退网用户数</p>
          <h1 class="f-w-300 m-t-0 text-danger"><%= @msg[:data5] %>
            户</h1>
        </div>

      </div>

    </div>
  </div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#xD7;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">徐汇光交GJ102 <a href="#" style="font-size: 12px;" target="_blank"> 详细</a></h4>
      </div>
      <div class="modal-body" id='modal-body'>
        <%= erb :'asset/occ_detail'%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  var district_name = "<%= @district_name %>";
</script>

<script src="/javascript/pages/welcome/district.js" charset="utf-8"></script>
