<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li>
        <a href="/asset">资源信息管理</a>
      </li>
      <li class="active">光交箱信息</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h4 class="page-header" style="margin-top:-6px;">光交箱-1</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <table class="table-bordered table_occ_internal_structure" width='100%' align="center">
      <tr>
        <td colspan="18" height='20px'></td>
      </tr>
      <tr>
        <td width='5%'></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td width='5%'></td>
      </tr>
      <tr>
        <td width='5%'></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td width='5%'></td>
      </tr>
      <tr>
        <td width='5%'></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td width='5%'></td>
      </tr>
      <tr>
        <td width='5%'></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td width='5%'></td>
      </tr>
      <tr>
        <td width='5%'></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td><img src="/images/occ_point_used.png" alt=""></td>
        <td width='5%'></td>
      </tr>
      <tr>
        <td width='5%'></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td width='5%'></td>
      </tr>
      <tr>
        <td width='5%'></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td width='5%'></td>
      </tr>
      <tr>
        <td width='5%'></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td width='5%'></td>
      </tr>
      <tr>
        <td width='5%'></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td width='5%'></td>
      </tr>
      <tr>
        <td width='5%'></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td width='5%'></td>
      </tr>
      <tr>
        <td width='5%'></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td width='5%'></td>
      </tr>
      <tr>
        <td width='5%'></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td width='5%'></td>
      </tr>
      <tr>
        <td width='5%'></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td><img src="/images/occ_point_unused.png" alt=""></td>
        <td width='5%'></td>
      </tr>
      <tr>
        <td colspan="18" height='20px'></td>
      </tr>
    </table>
  </div>

</div>


<div class="row">
  <div class="col-lg-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified">
      <li class="active">
        <a href="#occ_basic_info" data-toggle="tab">光交箱基本信息</a>
      </li>
      <li>
        <a href="#occ_topology" data-toggle="tab">光交箱PON拓扑</a>
      </li>
      <li>
        <a href="#community_inspection" data-toggle="tab"  id='tab_inspection'>小区设备巡检记录</a>
      </li>
      <li>
        <a href="#community_construction" data-toggle="tab"  id='tab_construction'>小区施工记录</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="community_basic_info">
        <%= erb :'community/_basic_info'%>
      </div>
      <div class="tab-pane fade" id="community_consumer_info">
        <%= erb :'community/_consumer_info'%>
      </div>
      <div class="tab-pane fade" id="community_device">
        <%= erb :'community/_device'%>
      </div>
      <div class="tab-pane fade" id="community_internet_behavior_analysis">
        <%= erb :'community/_internet_behavior_analysis'%>
      </div>
      <!--
      <div class="tab-pane fade" id="community_stat">
      </div>
      -->
      <div class="tab-pane fade" id="community_ftth_topology">
        <%= erb :'community/_ftth_topology'%>
      </div>
      <div class="tab-pane fade" id="community_inspection">
        <%= erb :'community/_inspection'%>
      </div>
      <div class="tab-pane fade" id="community_construction">
        <%= erb :'community/_construction'%>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/css/pages/asset/occ.css">
